/* General styling of the body of the website by Victor */

/* Importing Google fonts */

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    background: #ffffff;
    font-family:"Bai Jamjuree";
}

/* Header styling by Carson */

.container{
    background-image: url(images/bg-header-desktop.png);
    background-color: transparent;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    align-content: center;
    margin-top: 0;
    padding: 35px;
}
.logo{
    background-color: transparent;
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
}
img{
    background: transparent;
}


h1{
    text-align: center;
    background: transparent;
}

.paragraphs{
    text-align: center;
    color: grey;
    font-size: 18px;
    max-width: 600px;
    background: transparent;

}

.buttons{
    display: flex;
    gap: 40px;
    align-items: center;
    justify-content: center;
    background: transparent;

}

.iOS{
  
    width: 200px;
    height: 45px;
    background-color: rgb(30, 168, 145);
    color: white;
    font-weight: 300;
    border-radius: 5rem;
    cursor: pointer;
    border: transparent;
    display: inline;
    transition: 2s;
    /* border:2px solid #1ea891;  */
       box-shadow:0 6px 15px#1ea891(0,0,0,0.15);

}
.iOS:hover{
    transform: translateY(-8px);
    text-shadow:#1ea891 ;
           box-shadow:0 6px 15px#1ea891(0,0,0,0.15);

}

.Mac{
     width: 200px;
    height: 45px;
    background-color: rgb(21, 74, 172);
    color: white;
    font-weight: 300;
    border-radius: 5rem;
    cursor: pointer;
    border: transparent;
    transition: 2s;
         /* border:2px solid #154aac;  */
       box-shadow:0 6px 15px#0e3b8d(0,0,0,0.15);

}
.Mac:hover{
     transform: translateY(-8px);
            box-shadow:0 6px 15px#0e3b8d(0,0,0,0.15);

}


.devices{
    flex-direction: row;
    display: flex;
    align-items: center;
    align-content: center;
    margin-left: 1.5rem;
}




/* Styling of the Snippet Section by Emmanuel Victor */

.snippet{
    background-color:#ffffff;
    margin-top: 50px;
    padding: 60px;
    justify-content: center;
    align-items: center;
}

.snippet-top{
    text-align: center;
    justify-content: center;
    align-items: center;
}
.snippet-top h2{
    text-align: center;
    font-size: 28px;
    padding: 25px;
}

.snippet-top .paragraph1{
    font-size: 18px;
      justify-content: center;
    align-items: center;
    text-align: center;
    padding: 5px;
    line-height: 1.5;
}
.container-snippet{
    margin-top: 90px;
    display: flex;
    gap: 10px;
justify-content: center;    
text-align: center;
    align-items: center;
    background: transparent;
    
}

.image{
    width: 90%;
    max-width: 100%;
}
.image img{
max-width: 100%;
width: 80%;
}

.info-snip-container{
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 10px;
justify-content: left;    
text-align: center;
    align-items: center;
    background: transparent;
    
}
.part-1{
padding: 20px;
text-align: left;
}
.part-1 h2{
    font-size: 22px;
    padding: 10px;
}
.part-1 p{
      padding: 5px;
  font-size: 16px;
}


.Accessibility{
    margin-top: 40px;
    padding: 15px;
      justify-content: center;
    text-align: center;
    align-items: center;
}

.text-accessibility{
     justify-content: center;
    text-align: center;
    align-items: center;
    padding: 40px;

}

.text-accessibility h2{
     font-size: 26px;
    padding: 10px;
}

.text-accessibility p{
       padding: 5px;
  font-size: 16px;
}
.accessiility-image{
    justify-content: center;
    text-align: center;
    align-items: center;  
}



/* Tools container editing */
.workflow{
    align-items: center;
    justify-content: center;
    margin: 70px;
    text-align: center;
}
.tools-container{
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
}
/* Logos editting */
.logos{
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    margin: 70px;
}

/* Text font editing */
p{
    color: gray;
}

/* The Syling of the Footer Section */

.footer-container{
    padding: 25px;
    /* margin: 10px; */
    margin-top: 40px;
}

.clipboard{
    padding: 35px;
    justify-content: center;
    align-items: center;
    width: 100%;

  
}
.clipboard-text{
justify-content: center;
align-items: center;
text-align: center;
padding: 30px;
}
.clipboard-text h2{
    padding: 15px;
    font-size: 26px;
}


.clipboard-text p{
    padding: 8px;
    font-size: 18px;
}

/* Footer */

.footer-container{
    padding: 60px;
    width: 100%;
    background:#e4e1e1;
    height: auto;
    display: flex;
    gap:250px;
    justify-content: center;
}
.footer-logo{
    background: transparent;
     display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center
}

.footer-logo img{
    background: transparent;
    width: 70%;
    max-width: 70%;
}

.links {
    background-color: transparent;
    display: grid;
    gap: 15px;
    grid-template-columns: 1fr 1fr 1fr;
  
}
.links a{
  background: transparent;
  color: #808080;
  font-size: 18px;
}

.social-media{
background: #e4e1e1;
    justify-content: center;
    align-items: center;
}

.social-media a {
font-size: 30px;
background: transparent;
  justify-content: space-around;
  align-items: center;
    color: #808080;

}

i{
   background: transparent;
   justify-content: space-between;
   gap: 25px;
 
}

/* THE MEDIA QUERY FOR THE PAGE */
@media screen and (max-width:768px) {

.container{
    background-image: url(images/bg-header-desktop.png);
    background-color: transparent;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    align-content: center;
    margin-top: 0;
    padding: 35px;
}


.paragraphs{
    text-align: center;
    color: grey;
    font-size: 18px;
    max-width: 400px;
    background: transparent;

}

.buttons{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;
    background: transparent;
margin-top: 25px;
}

.iOS{
  
    width: 300px;
    height: 55px;
    
}

.Mac{
     width: 300px;
    height: 55px;

}


.snippet{
    background-color:#ffffff;
    margin-top: 10px;
    padding: 30px;
    justify-content: center;
    align-items: center;
}


.snippet-top .paragraph1{
    font-size: 18px;
      justify-content: center;
    align-items: center;
    text-align: center;
    padding: 5px;
    line-height: 1.5;
}
.container-snippet{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    gap: 10px;
justify-content: center;    
text-align: center;
    align-items: center;
    
}

.info-snip-container{
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 10px;
justify-content: center;    
text-align: center;
    align-items: center;
    background: transparent;
    
}
.part-1{
padding: 20px;
text-align: center;
}

.part-1 h2{
    font-size: 22px;
    padding: 10px;
}
.part-1 p{
      padding: 5px;
  font-size: 18px;
}


.Accessibility{
    margin-top: 40px;
    padding: 15px;
      justify-content: center;
    text-align: center;
    align-items: center;
}

.text-accessibility{
     justify-content: center;
    text-align: center;
    align-items: center;
    padding: 40px;

}

.text-accessibility h2{
     font-size: 26px;
    padding: 10px;
}

.text-accessibility p{
    text-align: center;
       padding: 5px;
  font-size: 18px;
}
.accessiility-image{
    justify-content: center;
    text-align: center;
    align-items: center;  
}
.accessiility-image img{
    max-width: 100%;
    width: 100%;
}


/* Tools container editing */
.workflow{
    align-items: center;
    justify-content: center;
    margin: 70px;
    text-align: center;
}
.workflow h1{
    padding: 15px;
}
.tools-container{
   margin-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    font-size: 18px;
}

.blacklist p{
padding: 15px;
}
/* Logos editting */
.logos{
    display: flex;
    flex-direction: column;
    gap: 50px;
    justify-content: center;
    text-align: center;
    align-items: center;
    padding: 30px;
}

/* The Syling of the Footer Section */

.footer-container{
    width: 100%;
    /* text-align:center ; */
    justify-content: center;
    align-items: center;
    padding: 5px;
   
    margin-top: 30px;
}

.clipboard{
    padding: 15px;
    justify-content: center;
    align-items: center;
    width: 100%;

  
}
.clipboard-text{
justify-content: center;
align-items: center;
text-align: center;
padding: 30px;
}


.clipboard-text p{
    padding: 8px;
    font-size: 18px;
}

/* Footer */

.footer-container{
    padding: 20px;
    width: 100%;
    text-align: center;
    background:#e4e1e1;
    height: auto;
    display: flex;
    flex-direction: column;
    gap:30px;
    justify-content: center;
}
.footer-logo{
    background: transparent;
     display: flex;
    text-align: center;
    align-items: center;
    align-content: center
}

.footer-logo img{
    text-align: center;
    background: transparent;
    width: 95%;
    max-width: 100%;
}

.links {
    background-color: transparent;
    display: flex;
    gap: 25px;
   flex-direction: column;
}
.links a{
  background: transparent;
  color: #808080;
  font-size: 18px;
}

.social-media{
background: #e4e1e1;
    justify-content: center;
    align-items: center;
}

.social-media a {
font-size: 35px;
background: transparent;
  justify-content: space-around;
  align-items: center;
    color: #808080;

}

}


