/* General styling of the body of the website by Victor */

/* Importing Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    background: #ffffff;
    font-family:Heebo(Woff2), "Heebo Fallback";
}

/* Styling of the Snippet Section by Emmanuel Victor */

.snippets{
    background-color: aliceblue;
}
.container{
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    
}

.flex{
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
}
h1{
   text-align: center;

}
p{
   text-align: center;
}

/* workflow */
.workflow{
    align-items: center;
    justify-content: center;
    margin: 70px;
    text-align: center;
}

/* Tools container editing */
.tools-container{
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
}
/* Logos editting */
.logos{
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    margin: 70px;
}

/* Text font editing */
p{
    color: gray;
}


